.banner-container {
  position: relative;
}

.banner-item--img {
  max-height: 881px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.banner-item--text {
  max-width: 250px;
  position: absolute;
  top: 20%;
  right: 5%;
}

.footer-banner img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .banner-item--text {
    display: none;
  }
}
