* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

.active {
  color: $primary-color;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  flex-shrink: 0;
}
