$primary-color: #3db290;
$secondary-color: #444444;
$dark-gray: #bdbdbd;
$light-gray: #e0e0e0;

$font-primary: "Raleway", sans-serif;

$font-size-mobile-p: 16px;
$font-size-mobile-h4: 24px;
$font-size-mobile-h3: 30px;
