.edit_product--container,
.add_product--container {
  max-width: 80%;
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.edit_product--header,
.add_product--header {
  text-align: center;
}

.edit-product-form--item,
.add-product-form--item {
  display: flex;
  justify-content: space-between;
}

.edit-product-form,
.add-product-form {
  max-width: 600px;
  margin: auto;
  font-weight: bold;

  input,
  textarea {
    border: 1px solid $secondary-color;
    padding: 5px;
  }
}

.edit-product-form--description,
.add-product-form--description {
  display: flex;
  flex-direction: column;
}

.edit-product-form_btn--container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0em;
}

@media screen and (max-width: 576px) {
  .edit-product-form--item,
  .add-product-form--item {
    flex-direction: column;
  }
}
