.no_access_msg--wrapper {
  text-align: center;

  a {
    color: $primary-color;
    text-decoration: underline;
  }
}

.error {
  text-align: center;
  color: darkred;
  background-color: lightpink;
  padding: 10px;
  border: 2px solid darkred;
}

.success {
  text-align: center;
  color: darkgreen;
  background-color: lightgreen;
  border: 2px solid darkgreen;
  padding: 10px;
}
