.no_access_msg--wrapper {
  text-align: center;

  a {
    color: $primary-color;
    text-decoration: underline;
  }
}

.msg {
  max-width: 500px;
  margin: auto !important;
}

.error {
  text-align: center;
  color: darkred;
  background-color: lightpink;
  padding: 10px;
  border: 2px solid darkred;
  margin: 2em 0em;
}

.success {
  text-align: center;
  color: darkgreen;
  background-color: lightgreen;
  border: 2px solid darkgreen;
  padding: 10px;
  margin: 2em 0em;
}

.warn {
  text-align: center;
  color: black;
  background-color: lightgray;
  border: 2px solid black;
  padding: 10px;
  margin: 2em 0em;
}
